@tailwind base;
@tailwind components;
@tailwind utilities;

*{box-sizing: border-box; margin: 0; padding: 0; color: white}
 
.circle{
	position: absolute;
	top: 0;
	left: 0;
  	width: 12px;
  	height: 12px;
  	border-radius: 50%;
  	background-color: white;
  	z-index: 999;
	transform: translate(-50%, -50%);
	transition: 0.05s;
}

.circle:active{
	background-color: grey;
}

/* body::-webkit-scrollbar {
    width: 15px;  스크롤바의 너비
}*/


@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
